<h2>Upload targets</h2>

<p>
  Use <code>:downloader</code> to include the downloader name. For example:
</p>
<ul>
  <li><code>rsync://fos.textfiles.com/warrior/this-project/<strong>:downloader</strong>/</code></li>
  <li><code>http://fos.textfiles.com/warrior/this-project/<strong>:downloader</strong>/</code></li>
</ul>

<table>
  <thead>
    <tr>
      <th colspan="4">Upload targets</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th colspan="4">
        <form method="post" action="/<%= tracker.slug %>/admin/upload_targets">
          Add: 
          <input type="text" name="url" placeholder="URL" value="" size="50" />
          <input type="submit" value="Add" />
        </form>
      </th>
    </tr>
    <% tracker.all_upload_targets.each do |target| -%>
      <tr>
        <td>&#x<%= target[:active] ? 2714 : 2715 %>;</td>
        <th scope="row" width="100%"><%= target[:url] %></th>
        <td>
          <form method="post" action="/<%= tracker.slug %>/admin/upload_targets/<%= target[:active] ? "deactivate" : "activate" %>">
            <input type="hidden" name="url" value="<%= target[:url] %>" />
            <input type="submit" value="<%= target[:active] ? "Deactivate" : "Activate" %>" />
          </form>
        </td>
        <td>
          <form method="post" action="/<%= tracker.slug %>/admin/upload_targets/remove">
            <input type="hidden" name="url" value="<%= target[:url] %>" />
            <input type="submit" value="Remove" />
          </form>
        </td>
      </tr>
    <% end -%>
  </tbody>
</table>

