<h2>Overview</h2>

<h3>Queues</h3>
<table>
  <tbody>
  <% tracker.queues.each do |queue| -%>
    <tr>
      <th width="120"><%= queue[:title] %></th>
      <td><%= queue[:length] %> item<%= ("s" unless queue[:length]==1) %></td>
    </tr>
  <% end -%>
  </tbody>
</table>

<h3>Claims</h3>
<p><%= tracker.number_of_claims %> &mdash; <a href="/<%= tracker.slug %>/admin/claims">manage</a></p>

<h3>Requests per minute</h3>
<p><%= tracker.requests_per_minute_history.map{|m,r|r}.join(" / ") %> &mdash; max:<%= tracker.requests_per_minute || "not set" %> &mdash; <a href="/<%= tracker.slug %>/admin/limits">manage</a></p>

<h3>Log length</h3>
<p><%= tracker.log_length %></p>

<h3>Redis memory usage</h3>
<p><%= redis.info["used_memory_human"] %></p>

