<h2>Overview</h2>

<h2>Queues</h2>
<table>
  <tbody>
  <% @tracker.queues.each do |queue| -%>
    <tr>
      <th width="120"><%= queue[:title] %></th>
      <td><%= queue[:length] %> item<%= ("s" unless queue[:length]==1) %></td>
    </tr>
  <% end -%>
  </tbody>
</table>

<h2>Claims</h2>
<p><%= @tracker.number_of_claims %> &mdash; <a href="/admin/claims">manage</a></p>

<h2>Requests per minute</h2>
<p><%= @tracker.requests_per_minute_history.map{|m,r|r}.join(" / ") %> &mdash; max:<%= @tracker.requests_per_minute || "not set" %> &mdash; <a href="/admin/limits">manage</a></p>

<h2>Log length</h2>
<p><%= $redis.llen("log") %></p>

<h2>Redis memory usage</h2>
<p><%= $redis.info["used_memory_human"] %></p>

