<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="robots" content="noindex,nofollow" />
  <title>Tracker admin - <%= request.host %></title>
  <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet" type="text/css" />
  <link href="/css/admin.css?<%= assets_version %>" rel="stylesheet" type="text/css" />
</head>

<body>

  <div id="header">
    <div id="header-content">
      <% if tracker -%>
        <h1>Tracker admin &mdash; <%= request.host %>/<%= tracker.slug %></h1>
        <% if user_is_global_admin? %>
          <a href="/global-admin/" class="global-admin-link">Global admin</a>
        <% end -%>
      <% else -%>
        <h1>Global tracker admin &mdash; <%= request.host %></h1>
      <% end -%>
    </div>
  </div>

  <div id="container">
    <div id="menu">
      <% if tracker -%>
        <ul>
          <%
            [ [ "/admin/", "Overview" ],
              [ "/admin/queues", "Queues" ],
              [ "/admin/claims", "Claims" ],
              [ "/admin/logs", "Logs" ],
              [ "/admin/blocked", "Blocked" ],
              [ "/admin/limits", "Limits" ],
              [ "/admin/upload_targets", "Uploads" ],
              [ "/admin/config", "Configuration" ],
              [ "/admin/workarounds", "Workarounds" ]
            ].each do |path, title|
          %>
            <li <% if @admin_page==path %>class="active"<% end %>><a href="<%= "/#{ tracker.slug }#{ path }" %>"><%= title %></a></li>
          <% end %>
        </ul>
      <% else -%>
        <ul>
          <%
            [ [ "/global-admin/", "Overview" ],
              [ "/global-admin/config", "Configuration" ],
              [ "/global-admin/global-block-list", "Global Block List" ],
              [ "/global-admin/trackers", "Trackers" ],
              [ "/global-admin/users", "Users" ],
              [ "/global-admin/warrior", "Warrior Projects" ]
            ].each do |path, title|
          %>
            <li <% if @global_admin_page==path %>class="active"<% end %>><a href="<%= path %>"><%= title %></a></li>
          <% end %>
        </ul>
      <% end -%>
    </div>

    <div id="content">
      <%== yield %>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" type="text/javascript"></script>
  <script src="/js/admin.js?<%= assets_version %>" type="text/javascript"></script>

</body>

</html>

