<%
regexp = params[:regexp] ? Regexp.new(params[:regexp]) : nil

done_per_downloader = tracker.done_per_downloader
budget_per_downloader = tracker.budget_per_downloader

claims_per_downloader = tracker.claims_per_downloader(regexp)
claims_per_date = ActiveSupport::OrderedHash.new(0)
claims_per_downloader.each do |downloader, claims|
  claims.each do |claim|
    claims_per_date[claim[:since].strftime("%Y-%m-%d")] += 1
  end
end
%>

<h2>Claims</h2>

<form method="post" action="/<%= tracker.slug %>/admin/claims/release">
  <p>
    Free items claimed on and before:
    <select name="before">
      <%==
      sum = 0
      claims_per_date.sort.map do |date, n|
        sum += n
        "<option value=\"#{ date }T23:59:59\">#{ date } (#{ sum } claims)</option>"
      end.join
      -%>
    </select>
    matching
    <input type="text" name="regexp" value="<%= params[:regexp] %>" style="width:130px" />
    <input type="submit" value="Requeue" />
  </p>
</form>

<form method="get" action="/<%= tracker.slug %>/admin/claims" style="float: left">
  <p>
    Only show items matching:
    <input type="text" name="regexp" value="<%= params[:regexp] %>" />
    <input type="submit" value="Filter" />
  </p>
</form>

<form method="post" action="/<%= tracker.slug %>/admin/recalculate_budgets" style="float: right">
  <p>
    <input type="submit" value="Recalculate claim budgets" />
  </p>
</form>

<br style="clear: both;" />

<table id="claims">
  <thead>
    <tr>
      <th scope="col">Downloader</th>
      <th scope="col">IP</th>
      <th scope="col">Claimed at</th>
      <th scope="col">Done</th>
      <th scope="col">Budget</th>
      <th scope="col" colspan="2">Claims</th>
    </tr>
  </thead>
  <% claims_per_downloader.each do |downloader, claims| -%>
    <tbody>
      <tr>
        <th scope="rowgroup">
          <a href="?<%= ("regexp=#{ CGI::escape(params[:regexp]) }&" if params[:regexp]) %>downloader=<%= CGI::escape(downloader) %>"><%= downloader %></a>
        </th>
        <th scope="rowgroup"><%==
          ids = claims.map{|c|c[:ip]}.uniq.sort_by{|ip|ip.split(",").map{|i|i.to_i}}
          ids[0,(ids.size <= 3 ? 3 : 2)].join("<br/>") + (ids.size > 3 ? "<br/>(+ #{ ids.size - 2 } not shown)": "")
        %></th>
        <td scope="rowgroup"><%= claims.first[:since].xmlschema %></th>
        <th scope="rowgroup"><%= done_per_downloader[downloader] %></th>
        <th scope="rowgroup"><%= budget_per_downloader[downloader] %></th>
        <th scope="rowgroup"><%= claims.size %></th>
        <th scope="rowgroup">
          <form method="post" action="/<%= tracker.slug %>/admin/claims/release">
            <input type="hidden" name="downloader" value="<%= downloader %>" />
            <input type="submit" value="Release" />
          </form>
        </th>
      </tr>
      <% if params[:downloader]==downloader or not params[:regexp].to_s.strip.empty? -%>
        <% claims.each do |claim| -%>
          <tr>
            <th scope="row"><%= downloader %></th>
            <td><%= claim[:ip] %></td>
            <td><%= claim[:since].xmlschema %></td>
            <td colspan="3"><%= claim[:item] %></td>
            <td scope="rowgroup">
              <form method="post" action="/<%= tracker.slug %>/admin/claims/release">
                <input type="hidden" name="item" value="<%= claim[:item] %>" />
                <input type="submit" value="Release" />
              </form>
            </td>
          </tr>
        <% end -%>
      <% end -%>
    </tbody>
  <% end -%>
</table>

