<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="robots" content="noindex,nofollow" />
  <title>Tracker admin - <%= request.host %></title>
  <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet" type="text/css" />
  <link href="/css/admin.css?<%= assets_version %>" rel="stylesheet" type="text/css" />
</head>

<body>

  <div id="header">
    <div id="header-content">
      <h1>Tracker admin &mdash; <%= request.host %></h1>
    </div>
  </div>

  <div id="container">
    <div id="menu">
      <ul>
        <%
          [ [ "/admin", "Overview" ],
            [ "/admin/config", "Configuration" ],
            [ "/admin/claims", "Claims" ],
            [ "/admin/limits", "Limits" ]
          ].each do |path, title|
        %>
          <li <% if @admin_page==path %>class="active"<% end %>><a href="<%= path %>"><%= title %></a></li>
        <% end %>
      </ul>
    </div>

    <div id="content">
      <%== yield %>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" type="text/javascript"></script>
  <script src="/js/admin.js?<%= assets_version %>" type="text/javascript"></script>

</body>

</html>

