<h2>Configuration</h2>

<form method="post" action="/<%= tracker.slug %>/admin/config" id="tracker-config">
  <table cellspacing="0">
  <tbody>
    <tr>
      <th>Tracker name:</th>
      <td><%= tracker.slug %></td>
    </tr>

    <%
    tracker.config.each_field do |field|
      case field[:type]
      when :string, :integer, :regexp
    -%>
      <tr>
        <th><label for="f-<%= field[:name] %>"><%= field[:label] %>:</label></th>
        <td><input type="text" name="<%= field[:name] %>" id="f-<%= field[:name] %>" value="<%= field[:value] %>" /></td>
      </tr>
    <%
      when :boolean
    -%>
      <tr>
        <th><label for="f-<%= field[:name] %>"><%= field[:label] %>:</label></th>
        <td><input type="checkbox" name="<%= field[:name] %>" id="f-<%= field[:name] %>" <% if field[:value] %>checked<% end %> value="yes" /></td>
      </tr>
    <%

      when :map
    -%>
      <tr>
        <th><%= field[:label] %>:</th>
        <td>
          <table class="map" data-fieldname="<%= field[:name] %>">
            <thead><tr><th>Key</th><th>Label</th></tr></thead>
            <tbody>
              <% field[:value].each_with_index do |key_value, index| -%>
                <tr>
                  <td><input type="text" name="<%= field[:name] %>-<%= index %>-key" value="<%= key_value[0] %>" /></td>
                  <td><input type="text" name="<%= field[:name] %>-<%= index %>-value" value="<%= key_value[1] %>" /></td>
                </tr>
              <% end -%>
            </tbody>
          </table>
        </td>
      </tr>
    <%
      end
    end
  -%>
  </tbody>
  </table>

  <p><input type="submit" value="Save" /></p>
</form>

<script type="text/javascript">//<![CDATA[
var configFormFields = <%== JSON.dump(UniversalTracker::TrackerConfig.config_fields.map do |field|
  { "name"=>field[:name], "type"=>field[:type] }
end) %>;
//]]>
</script>

