<%
max_budget = tracker.min_downloader_budget
max_budget = -(max_budget.to_i) unless max_budget.nil?
requests_per_minute = tracker.requests_per_minute
monitor_requests_per_minute = tracker.requests_per_minute_monitor
history_requested = Hash[tracker.requests_per_minute_history]
history_granted = Hash[tracker.requests_granted_per_minute_history]
history_minutes = (history_requested.keys + history_granted.keys).uniq.sort
%>

<h2>Limits</h2>

<form method="post" action="/<%= tracker.slug %>/admin/limits">
  <p>
    Maximum claims per downloader:
    <input type="text" name="max_budget" size="5" value="<%= max_budget %>" />
    Requests per minute:
    <input type="text" name="requests_per_minute" size="5" value="<%= requests_per_minute %>" />
    <input type="submit" value="Update" />
  </p>
  <% if monitor_requests_per_minute %>
    <p>
      Monitoring auto-limit: <%= monitor_requests_per_minute %> requests per minute.
    </p>
  <% end %>
</form>

<table id="limits">
  <thead>
    <tr>
      <th scope="col">Minute</th>
      <th scope="col">Requests</th>
      <th scope="col">Grants</th>
    </tr>
  </thead>

  <tbody>
    <% history_minutes.reverse.each do |minute| -%>
      <tr><td><%= minute %></td><td><%= history_requested[minute] %></td><td><%= history_granted[minute] %></td></tr>
    <% end -%>
  </tbody>
</table>

